body {
    display: list-item;
    
}
.editar {
    border-radius: 7px;
    background: white;
    font-weight: bold;
    padding: 5px;
    margin-left: 5px;
    transition: background 0,3s ease;
    cursor: pointer;
}
.editar:hover {
    background: yellow;
    font-size: 23px;
}
.remover {
    border-radius: 7px;
    background: white;
    font-weight: bold;
    padding: 5px;
    margin-left: 5px;
    transition: background 0,3s ease;
    cursor: pointer;
}
.remover:hover {
    background: red;
    font-size: 23px;
}
.adicionar {
    background: greenyellow;
    font-weight: bold;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
}
.adicionar:hover {
    background: green;
    font-size: 23px;
}
#mensagem {
    font-weight: bold;
}
label {
    font-weight: bold;
    font-size: 22px;
}
:placeholder-shown {
    text-align: center;
}
#inputTarefa {
    border-radius: 3px;
    font-size: 20px;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
}
.limpar {
    background: rgb(224, 115, 115);
    font-weight: bold;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0,3s ease;
}
.limpar:hover {
    background: red;
    font-size: 23px;
}
